@using PMS.Pagging;
@using PMS.ViewModels;
@model List<AssignEmployeeVM>
@{
    ViewData["Title"] = "ListOfEmployee";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container">
    <div class="p-3">
        <div class="row pt-3">
            <div class="col-4">
                <h2 class="text-dark"><b>List Of Employee</b></h2>
            </div>
            <div class="col-4">
                <form method="get" asp-controller="Project" asp-action="ListOfEmployee" class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search by Employee Name..." name="SearchString" value="@ViewBag.SearchStr">
                    <button class="btn btn-secondary my-2 my-sm-0 me-sm-2" type="submit">Search</button>
                </form>
            </div>
            <div class=" col-4 text-end">
                <div>
                    <a asp-controller="Project" asp-action="Index" class="btn btn-primary">
                        Back
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <table id="myTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>Project Name</th>
                <th>Deadline Date</th>
                <th>Employee Name</th>
                <th>Employee Code</th>
                <th>Employee Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr class="text-center">
                    <td>@obj.ProjectName</td>
                    <td>@obj.DeadlineDate</td>
                    <td>@obj.EmployeeName</td>
                    <td>@obj.EmployeeCode</td>
                    <td>@obj.EmployeeType</td>
                    <td>
                        <div class="w-60 btn-group" role="group">
                            <a asp-area="" asp-controller="Project" asp-action="AssignEmployees" asp-route-id="@obj.ProjectId"
                           class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> UnAssign Employee</a>
                        </div>

                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@*Pagination*@
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-center">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ListOfEmployee", new {pg = 1, SearchString = ViewBag.SearchStr})">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ListOfEmployee", new {pg = pager.CurrentPage - 1, SearchString = ViewBag.SearchStr})">Previous</a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active": "")">
                    <a class="page-link" href="@Url.Action("ListOfEmployee", new {pg = pge, SearchString = ViewBag.SearchStr})">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ListOfEmployee", new {pg = pager.CurrentPage + 1, SearchString = ViewBag.SearchStr})">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ListOfEmployee", new {pg = pager.TotalPages, SearchString = ViewBag.SearchStr})">Last</a>
                </li>
            }
        </ul>
    }
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


